# App
ENVIRONMENT=
NEXT_PUBLIC_BASE_PATH=
NEXT_PUBLIC_SERVER_URL=
NEXT_PUBLIC_ASSET_URL=
BUILD_STATIC_EXPORT=

# Next Auth
NEXTAUTH_URL=$NEXT_PUBLIC_BASE_PATH
NEXTAUTH_SECRET=

# MQTT
NEXT_MQTT_HOST=
NEXT_MQTT_PROTOCOL= # ws or wss
NEXT_MQTT_PORT=
NEXT_MQTT_USER=
NEXT_MQTT_PASSWORD=